<nz-layout>
  <nz-sider nzCollapsible [nzWidth]="200" [nzCollapsedWidth]="80" [nzCollapsed]="isCollapsed" (nzCollapsedChange)="isCollapsedChange.emit($event)" style="min-height: 100vh;">
    <app-sider [(isCollapsed)]="isCollapsed"></app-sider>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <app-header></app-header>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer style="text-align: center;">
      <span>聯絡方式：</span>
      <a href="mailto:dannyhsu@via.com.tw" target="_blank" style="margin:0 8px;"><i class="fa-solid fa-envelope"></i></a>
      <a href="https://github.com/dannygod" target="_blank" style="margin:0 8px;"><i class="fa-brands fa-github"></i></a>
      <a href="www.linkedin.com/in/沙-金-398170353" target="_blank" style="margin:0 8px;"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://twitter.com/dannygod" target="_blank" style="margin:0 8px;"><i class="fa-brands fa-twitter"></i></a>
    </nz-footer>
  </nz-layout>
</nz-layout>
